*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html  {
    background-color: #000;
}

header {
    background-image: url(images/5.jpeg);
    height: 75vh;
    border-bottom: 10px solid gray;
}

.header-container {
    background-color: #0000009e;
    height: 75vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.logo {
    padding: 10px 100px;
    color: red;
    font-size: 1.3rem;
}

header .right-navbar {
    padding: 20px 90px;
}

header .right-navbar button {
    padding: 10px 15px;
    background-color: red;
    color: #fff;
    font-size: 1rem;
    border-radius: 7px;
    outline: none;
    cursor: pointer;
    border: none;
}

.hero {
    background-color: antiquewhite;
    padding: 30px 60px;
    text-align: center;
    margin-top: 130px;
}

.hero h1 {
    color: #fff;
    font-size: 3rem;
}