:root {
    --russian-violet: hsl(269, 36%, 22%);
    --dark-purple: hsl(268, 22%, 15%);
    --eerie-black: hsl(240, 4%, 10%);
    --davys-gray: hsl(0, 0%, 34%);
    --light-gray: hsl(0, 0%, 84%);
    --cultured-1: hsl(0, 0%, 98%);
    --cultured-2: hsl(280, 14%, 96%);
    --cultured-3: hsl(280, 9%, 94%);
    --gainsboro: hsl(0, 1%, 85%);
    --black_10: hsla(0, 0%, 0%, 0.1);
    --black_5: hsla(0, 0%, 0%, 0.05);
    --pumpkin: hsl(22, 90%, 56%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
  

      /**
   * box shadow
   */

  --shadow-1: 0px 0px 20px var(--black_10);
  --shadow-2: 0 0 20px 4px var(--black_5);

  /**
   * border radius
   */

  --radius-6: 6px;
  --radius-10: 10px;

  /**
   * transition
   */

  --transition-1: 0.75s ease;
  --transition-2: 0.55s ease;
  --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);

  /**
   * typography
   */

   --ff-poppins: 'Poppins', sans-serif;
   --ff-roboto: 'Roboto', sans-serif;
 
   --fs-1: 3rem;
   --fs-2: 2rem;
   --fs-3: 1.5rem;
   --fs-4: 1.4rem;
   --fs-5: 1.3rem;
 
   --fw-900: 900;
   --fw-700: 700;
   --fw-600: 600;
   --fw-500: 500;
 

}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a {
  text-decoration: none;
  color: inherit;
}


/*  

HEADER 

*/
.header {
    background-color:var(--white);
    padding-bottom: 90px;
    box-shadow: var(--shadow-1);
}

.logo {
    color: var(--dark-purple);
    font-family: var(--ff-roboto);
    font-size: 39px;
    font-weight: var(--fw-900);
    margin-left: 30px;
    margin-top: 5px;
}

.header .container .navbar {
    width: 33.33%;
    float: left;
    padding-top: 20px;
}

.header .container .navbar ul li {
    display: inline-block;
    margin-right: 50px;
    justify-content: end;
    text-align: end;
    margin-top: 15px;
}

.header .container .navbar ul li a {
    margin-top: 30px;
    font-size: var(--fs-4);
    transform-origin: var(--transition-1);
    margin-top: 0px;
    padding-bottom: 24px;
    transition: var(--transition-2);
    font-weight: var(--fw-600);
}

.header .container .navbar ul li a:hover {
    color: var(--pumpkin);
    border-bottom: 5px solid var(--pumpkin);
}

.header .container .navbar .header-btn {
    width: 170px;
    height: 50px;
    font-size: var(--fs-5);
    margin-left: 330px;
    margin-bottom: 0px;
    border: none;
    background-color: var(--pumpkin);
    color: var(--white);
    outline: none;
    border-radius: var(--radius-6);
    transition: var(--transition-2);
    cursor: pointer;
}

.header .container .navbar .header-btn:hover {
    background-color: var(--dark-purple);
}

.main .main-container{
    padding-top: 50px;
    background-color: var(--dark-purple);
    padding-bottom: 830px;
}
.main .main-container .hero {
    width: 50%;
    float: left;
}

.main .main-container .hero .h3 {
    margin-top: 220px;
    margin-left: 40px;
    margin-bottom: 20px;
    color:var(--pumpkin);
}

.main .main-container .hero .h1 {
    margin-bottom: 20px;
    margin-left: 40px;
    font-size: var(--fs-1);
    color: var(--white);
}

.main .main-container .hero .p {
    margin-left: 40px;
    color: var(--white);
    margin-bottom: 30px;
}

.main .main-container .hero .image {
    float: left;
    margin-left: 40px;
}

.main .main-container .hero .image .img-btn {
    border-radius: var(--radius-6);
    border: none;
    outline: none;
    margin-left: 20px;
    margin-top: 10px;
}

.main .app {
    border-bottom: 3px solid var(--pumpkin);
}

.main .app-container {
    margin-left: 180px;
    margin-right: 180px;
    padding-bottom: 300px;
}

.main .app-container .h3 {
    text-align: center;
    padding-top: 100px;
    color: var(--pumpkin);
    margin-bottom: 10px;
}

.main .app-container .h1 {
    margin-bottom: 60px;
    text-align: center;
}

.main .app-container .app1 {
    float: 1%;
    float: left;
    background-color: var(--gainsboro);
    margin-left: 10px;
    border-radius: var(--radius-6);
    margin-top: 40px;
}

.main .app-container .app1 .app1-1 {
    margin-left: 10px;
    margin-top: 20px;
    background-color: var(--white);
    margin-right: 10px;
    padding-bottom: 30px;
}

.main .app-container .app1 .app1-1 .h2 {
    padding-left: 90px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.main .app-container .app1 .app1-1 .p {
    text-align: center;
}

.main .acquaintance{
    padding-top: 120px;
    padding-bottom: 700px;
    background-color: var(--dark-purple);
}

.main .acquaintance img {
    width: 600px;
    margin-left: 220px;
    height: 640px;
}

.main .acquaintance .acquaintance1 {
    width: 50%;
    float: left;
}

.main .acquaintance .acquaintance1 .h3 {
    padding-top: 80px;
    color: var(--pumpkin);
    padding-bottom: 20px;
    margin-left: 20px;
    
}

.main .acquaintance .acquaintance1 .h1 {
    font-size: var(--fs-1);
    margin-right: 280px;
    margin-bottom: 20px;
    margin-left: 20px;
    color: var(--white);
}

.main .acquaintance .acquaintance1 .p {
    margin-left: 20px;
    margin-right: 200px;
    margin-bottom: 20px;
    color: var(--white);
}

.main .acquaintance .acquaintance1 .h2 {
    margin-left: 20px;
    color: var(--pumpkin);
}

.main .acquaintance .acquaintance1 .btn-acq {
    width: 170px;
    height: 50px;
    font-size: var(--fs-5);
    margin-left: 30px;
    margin-bottom: 0px;
    border: none;
    background-color: var(--dark-purple);
    color: var(--white);
    outline: none;
    border-radius: var(--radius-6);
    transition: var(--transition-2);
    cursor: pointer;
}

.main .acquaintance .acquaintance1 .btn-acq:hover {
    background-color: var(--pumpkin);
}


.main .design {
    background-color: var(--light-gray);
    padding-bottom: 700px;
}
.main .design .design1 {
    padding-top: 150px;
}

.main .design .design1 .design1-1 img {
    width: 600px;
    height: 640px;
}

.main .design .design1 .design1-1{
    width: 50%;
    float: left;
}

.main .design .design1 .design1-1 .h3 {
    padding-top: 80px;
    color: var(--pumpkin);
    padding-bottom: 20px;
    margin-left: 170px;
}

.main .design .design1 .design1-1 .h1 {
    font-size: var(--fs-1);
    margin-bottom: 20px;
    margin-left: 170px;
    color: var(--dark-purple);
}

.main .design .design1 .design1-1 .p {
    margin-left: 170px;
    margin-bottom: 20px;
    margin-right: 70px;
    color: var(--dark-purple);
}

.main .design .design1 .design1-1 .btn-design {
    width: 170px;
    height: 50px;
    font-size: var(--fs-5);
    margin-left: 165px;
    margin-bottom: 0px;
    border: none;
    background-color: var(--pumpkin);
    color: var(--white);
    outline: none;
    border-radius: var(--radius-6);
    transition: var(--transition-2);
    cursor: pointer;
    margin-top: 30px;
}

.main .design .design1 .design1-1 .btn-design:hover {
    background-color: var(--dark-purple);
}

.main .services {
    padding-bottom: 500px;
    background-color: var(--dark-purple);
    margin-bottom: 200px;
}
.main .services .services1 {
    padding-top: 100px;
}

.main .services .services1 .services1-1 {
    width: 50%;
    float: left;
}

.main .services .services1 .services1-1 .image1 {
    margin-left: 230px;
}

.main .services .services1 .services1-1 .h3 {
    padding-top: 80px;
    color: var(--pumpkin);
    padding-bottom: 20px;
}

.main .services .services1 .services1-1 .h1 {
    font-size: var(--fs-1);
    margin-right: 170px;
    margin-bottom: 20px;
    margin-left: 0px;
    color: var(--white);
}

.main .services .services1 .services1-1 .p {
    margin-left: 0px;
    margin-bottom: 30px;
    margin-right: 70px;
    color: var(--white);
}

.main .services .services1 .services1-1 .services-btn {
    border-radius: var(--radius-6);
    border: none;
    outline: none;
    margin-left: 20px;
    margin-top: 10px;
}

.main .blog .blog1 .blog1-1 img{
    width: 340px;
    height: 230px;
    text-align: center;
    margin-left: 13px;
    margin-top: 20px;
}

.main .blog .blog1 {
    margin-left: 240px;
    margin-right: 240px;
}

.main .blog .blog1 .h4{
    color: var(--pumpkin);
    text-align: center;
}

.main .blog .blog1 .h1 {
    margin-top: 30px;
    text-align: center;
    font-size: var(--fs-1);
}

.main .blog .blog1 .blog1-1 {
    width: 31%;
    float: left;
    margin-top: 40px;
    box-shadow: var(--shadow-1);
    margin-left: 20px;
    border-radius: var(--radius-10);
    margin-bottom: 120px;
}

.main .blog .blog1 .blog1-1 .h2 {
    margin-left: 13px;
    margin-right: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    transition: var(--transition-1);
    cursor: pointer;
}

.main .blog .blog1 .blog1-1 .h2:hover {
    color: var(--pumpkin);
}

.main .blog .blog1 .blog1-1 .blog-btn {
    width: 340px;
    height: 50px;
    font-size: var(--fs-5);
    margin-left: 12px;
    margin-bottom: 0px;
    border: none;
    background-color: var(--pumpkin);
    color: var(--white);
    outline: none;
    border-radius: var(--radius-6);
    transition: var(--transition-2);
    cursor: pointer;
    margin-bottom: 30px;
}

.main .blog .blog1 .blog1-1 .blog-btn:hover {
    background-color: var(--dark-purple);
}

.main {
    margin-bottom: 600px;
}

.footer {
    background-color: var(--dark-purple);
    color: var(--white);
    padding-bottom: 10px;
}

.footer .footer1 {
    margin-left: 240px;
    margin-right: 240px;
    padding-top: 120px;
    border-bottom: 3px solid var(--pumpkin);
    padding-bottom: 240px;
}

.footer .footer1 .footer1-1 {
    width: 23%;
    float: left;
    margin-left: 22px;
}

.footer .footer1 .footer1-1 .h1 {
    margin-bottom: 30px;
}

.footer .footer1 .footer1-1 ul li{
    line-height: 30px;
}


.footer .footer1 .footer1-1 ul li a {
    margin-top: 30px;
    transform-origin: var(--transition-1);
    margin-top: 0px;
    padding-bottom: 24px;
    transition: var(--transition-1);
}

.footer .footer1 .footer1-1 ul li a:hover {
    color: var(--pumpkin);
}


.footer .footer1 .footer1-1 .social ul li {
    display: inline-block;
    margin-top: 30px;
    font-size: var(--fs-2);
    margin-left: 25px;
}