* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    background-color: aqua;
}

.logo {
    padding-top: 12px;
}
nav {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 7px 0 0 0 ;
}

nav a {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9rem;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    padding: 5px 20px;
}

.navbar-end ul {
    padding: 7px;
}