* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    background-color: aqua;
}

nav {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

nav a {
    color: #000000;
    text-decoration: none;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    padding: 0px 20px;
}