* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

form {
    margin-top: 200px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
}

form input{
    height: 30px;
}

.form-div .div-1{
    display: flex;
}

.form-div .div-1>div {
   border: 1px solid rgba(188, 186, 186, 0.389);
    background-color: aqua;
    width: 50px;
    height: 50px;
    padding-top: 20px;
    color: #fff;
    background-color: gainsboro;
}

.form-div .div-1 .orange {
    background: orange;
    color: #fff;
}

.form-div .div-1 .gray {
    
}