* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif, "poppin";
    font-weight: 600;
    font-size: 1.1rem;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    background: rgb(53, 110, 160);
}

form {
    margin-top: 200px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 300px;
}

.search{
    text-align:right;
    border: none;
    outline: none;
    width: 100%;
    height: 60px;
    background: brown;
    caret-color: #fff;
}

.form-div .div-1{
    display: flex;
}

.form-div .div-1>div {
   border: 1px solid rgba(0, 0, 0, 0.17);
    background-color: aqua;
    width: 50px;
    height: 50px;
    padding-top: 15px;
    color: #fff;
    background-color: gainsboro;
    cursor: pointer;
}

.form-div .div-1 .orange {
    background: orange;
    color: #fff;
}

.form-div .div-1 .gray {
    background: gray;
}

.form-div .div-1 .zero {
    width: 100px;
}