* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: aliceblue;
    height: 80vh;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

main {
    width: 800px;
    background-color: inherit;
    border: 1px solid gray;
    padding: 50px;
    border-radius: 20px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.container>div{
    border-top:1px solid black ;
    width: 100%;
    padding: 10px;
}

a {
    color: #000;
    text-decoration: none;
    font-size: 2rem;
    width: 100%;
    padding-bottom: 50px;
}