* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: linear-gradient(to right, #fa6dfa, #75ffff);
    height: 80vh;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1rem;
}

main {
    width: 800px;
    background-color: inherit;
    border: 2px solid rgba(128, 128, 128, 0.365);
    padding: 50px;
    border-radius: 20px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 30px;
    padding-left: 8px;
}


.tabs {
    margin-bottom: 40px;
    border-bottom:1px solid gray ;
    padding-bottom: 50px;
}

a {
    color:  #75ffff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all ease 0.3s;
    background-color: none;
    padding: 15px 30px;
    border-radius: 7px;
    margin-top: 20px;
    cursor: pointer;
    margin-right: 30px;
    width: 100%;
}

#active {
    color:  #fa6dfa;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all ease 0.3s;
    background-color: #75ffff;
    padding: 15px 30px;
    border-radius: 7px;
    margin-top: 20px;
}

a:hover {
    color:  #fa6dfa;
    text-decoration: none;
    font-size: 1.2rem;
    transition: all ease 0.3s;
    background-color: #75ffff;
    padding: 15px 30px;
    border-radius: 7px;
    margin-top: 20px;
}


.tabcontent {
    display: none;
}


.tabcontent>div {
    margin-bottom: 30px;
}